internal-staff-app/n8n_automations/Scoping_Sheet_Process.json
{
  "name": "Scoping_Sheet_Process",
  "nodes": [
    {
      "parameters": {
        "path": "5a0cd093-a0ed-404a-bfa1-be712355a441",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        260
      ],
      "id": "29e55b22-97f2-477d-ab3b-993351069165",
      "name": "Webhook1",
      "webhookId": "5a0cd093-a0ed-404a-bfa1-be712355a441"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5520,
        340
      ],
      "id": "65067be3-31eb-45e6-b5b4-b628441d7f70",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0f7d07-a014-4c0e-83cb-7d6e02e6d946",
              "leftValue": "={{ $('Send Email to Client').item.json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        -40
      ],
      "id": "ec490555-8dee-46f5-9d71-1cc73db02d91",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "stormyferntreeofficial@gmail.com",
        "toEmail": "bluebrooke@naver.com",
        "subject": "Scoping Status",
        "emailFormat": "text",
        "text": "=Scoping sheet approval rejected. Please reach out to the client to gather the scope. \nClient Email:  {{ $('combining').item.json.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4500,
        340
      ],
      "id": "cb8618fc-85cc-486b-bdf3-2e503b5573d6",
      "name": "Send Email1",
      "webhookId": "8b8f6558-1b2a-476a-9ab8-a810e265bbca"
    },
    {
      "parameters": {
        "content": "## Formatting to Markdown \nTakes in JSON request from SLM to generate the Scoping sheet, sending it to Sales for approval.",
        "height": 200,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "a6370106-c1e2-42ba-9e07-b432009355e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scoping Sheet approved\nWill trigger the next workflow to generate SOW",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        -120
      ],
      "id": "77a94844-5f2c-4019-b01d-dcb8985e462f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Scoping Sheet rejected\nSends email to staff, prompting them to reach out to client for scope",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2600,
        460
      ],
      "id": "69291aaa-1ca2-4626-a179-8e5a0343bab2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "659eee23-dd3b-46f9-b774-cf035c0e9253",
              "name": "request",
              "value": "{     \"id\": 1,     \"email\": \"diansofia03@gmail.com\",     \"scopingsheet_markdown\": \" Scoping Sheet for FinSecureApp\\n\\n   | Category | Requirement | Status |\\n   | --- | :-------------------------------- |:----------------------------------------------------------------------------------------------------------------------|\\n   | Application Overview | Application Name | FinSecureApp |\\n   | Application Overview | Production URL | https://finsecure.com |\\n   | Application Overview | Environment for Testing | ['Staging'] |\\n   | Application Overview | Application Type | ['Web', 'API'] |\\n   | Authentication & Access Control | Authentication Method | ['Username & Password', 'SSO'] |\\n   | Authentication & Access Control | User Roles | ['Anonymous Users', 'Regular Users', 'Power Users', 'Administrators', 'System Administrators'] |\\n   | Authentication & Access Control | Custom Roles | 2 |\\n   | Authentication & Access Control | Session Management | ['JWT'] |\\n   | Authentication & Access Control | Session Timeout Period | 20 |\\n   | Input Processing | total_num_input_fields | 15 |\\n   | Input Processing | Input Types Present | ['Free text fields', 'File uploads (Types allowed: .pdf, .png)', 'Payment information', 'Personal data', 'API calls'] |\\n   | Data Processing | Sensitive Data Handled | ['Personal Information', 'Financial Data'] |\\n   | Data Processing | Data Storage | ['Local Database', 'Cloud Storage'] |\\n   | API Details | Number of Endpoints | 20 |\\n   | API Details | Authentication Required | Yes |\\n   | API Details | Rate Limiting | Yes |\\n   | API Details | Documentation Available | Yes |\\n   | API Details | API Methods | ['GET', 'POST', 'PUT'] |\\n   | Infrastructure | Security Controls Present | ['WAF', 'IPS/IDS', 'Load Balancer', 'Anti-DDoS'] |\\n   | Infrastructure | Hosting | ['Cloud'] |\\n   | Business Logic | Critical Functions | ['Financial Transactions', 'User Data Management'] |\\n   | Security Requirements | Compliance Requirements | ['PCI DSS', 'GDPR'] |\\n   | Security Requirements | Previous Testing | 10/12/2023 |\\n   | Security Requirements | Known Vulnerabilities | none reported |\\n   | Security Requirements | Critical Assets | payment gateway, user accounts |\\n   | Testing Constraints | Time Restrictions | ['24/7 Allowed'] |\\n   | Testing Constraints | Testing Limitations | ['No Destructive Testing'] |\\n   | Deliverables | Required Reports | ['Executive Summary', 'Technical Details', 'Remediation Plan', 'Risk Rating'] |\\n   | Notes | Additional Information | Application uses two-factor authentication for all roles. API rate limits enforced at 500 requests per minute |\\n   | Client Contact Information | Client Email | aliceBrown@outlook.com |\",     \"requirement_df\": [         {             \"category\": \"Application Overview\",             \"requirement\": \"Application Name\",             \"status\": \"FinSecureApp\"         },         {             \"category\": \"Application Overview\",             \"requirement\": \"Production URL\",             \"status\": \"https://finsecure.com\"         },         {             \"category\": \"Application Overview\",             \"requirement\": \"Environment for Testing\",             \"status\": [                 \"Staging\"             ]         },         {             \"category\": \"Application Overview\",             \"requirement\": \"Application Type\",             \"status\": [                 \"Web\",                 \"API\"             ]         },         {             \"category\": \"Authentication & Access Control\",             \"requirement\": \"Authentication Method\",             \"status\": [                 \"Username & Password\",                 \"SSO\"             ]         },         {             \"category\": \"Authentication & Access Control\",             \"requirement\": \"User Roles\",             \"status\": [                 \"Anonymous Users\",                 \"Regular Users\",                 \"Power Users\",                 \"Administrators\",                 \"System Administrators\"             ]         },         {             \"category\": \"Authentication & Access Control\",             \"requirement\": \"Custom Roles\",             \"status\": \"2\"         },         {             \"category\": \"Authentication & Access Control\",             \"requirement\": \"Session Management\",             \"status\": [                 \"JWT\"             ]         },         {             \"category\": \"Authentication & Access Control\",             \"requirement\": \"Session Timeout Period\",             \"status\": \"20\"         },         {             \"category\": \"Input Processing\",             \"requirement\": \"total_num_input_fields\",             \"status\": \"15\"         },         {             \"category\": \"Input Processing\",             \"requirement\": \"Input Types Present\",             \"status\": [                 \"Free text fields\",                 \"File uploads (Types allowed: .pdf, .png)\",                 \"Payment information\",                 \"Personal data\",                 \"API calls\"             ]         },         {             \"category\": \"Data Processing\",             \"requirement\": \"Sensitive Data Handled\",             \"status\": [                 \"Personal Information\",                 \"Financial Data\"             ]         },         {             \"category\": \"Data Processing\",             \"requirement\": \"Data Storage\",             \"status\": [                 \"Local Database\",                 \"Cloud Storage\"             ]         },         {             \"category\": \"API Details\",             \"requirement\": \"Number of Endpoints\",             \"status\": \"20\"         },         {             \"category\": \"API Details\",             \"requirement\": \"Authentication Required\",             \"status\": \"Yes\"         },         {             \"category\": \"API Details\",             \"requirement\": \"Rate Limiting\",             \"status\": \"Yes\"         },         {             \"category\": \"API Details\",             \"requirement\": \"Documentation Available\",             \"status\": \"Yes\"         },         {             \"category\": \"API Details\",             \"requirement\": \"API Methods\",             \"status\": [                 \"GET\",                 \"POST\",                 \"PUT\"             ]         },         {             \"category\": \"Infrastructure\",             \"requirement\": \"Security Controls Present\",             \"status\": [                 \"WAF\",                 \"IPS/IDS\",                 \"Load Balancer\",                 \"Anti-DDoS\"             ]         },         {             \"category\": \"Infrastructure\",             \"requirement\": \"Hosting\",             \"status\": [                 \"Cloud\"             ]         },         {             \"category\": \"Business Logic\",             \"requirement\": \"Critical Functions\",             \"status\": [                 \"Financial Transactions\",                 \"User Data Management\"             ]         },         {             \"category\": \"Security Requirements\",             \"requirement\": \"Compliance Requirements\",             \"status\": [                 \"PCI DSS\",                 \"GDPR\"             ]         },         {             \"category\": \"Security Requirements\",             \"requirement\": \"Previous Testing\",             \"status\": \"10/12/2023\"         },         {             \"category\": \"Security Requirements\",             \"requirement\": \"Known Vulnerabilities\",             \"status\": \"none reported\"         },         {             \"category\": \"Security Requirements\",             \"requirement\": \"Critical Assets\",             \"status\": \"payment gateway, user accounts\"         },         {             \"category\": \"Testing Constraints\",             \"requirement\": \"Time Restrictions\",             \"status\": [                 \"24/7 Allowed\"             ]         },         {             \"category\": \"Testing Constraints\",             \"requirement\": \"Testing Limitations\",             \"status\": [                 \"No Destructive Testing\"             ]         },         {             \"category\": \"Deliverables\",             \"requirement\": \"Required Reports\",             \"status\": [                 \"Executive Summary\",                 \"Technical Details\",                 \"Remediation Plan\",                 \"Risk Rating\"             ]         },         {             \"category\": \"Notes\",             \"requirement\": \"Additional Information\",             \"status\": \"Application uses two-factor authentication for all roles. API rate limits enforced at 500 requests per minute\"         },         {             \"category\": \"Client Contact Information\",             \"requirement\": \"Client Email\",             \"status\": \"aliceBrown@outlook.com\"         }     ],     \"timestamp\": \"2025-03-31_20-20-03\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        260
      ],
      "id": "ceb23795-8e95-4e9e-a4e0-ac29435ff880",
      "name": "Setting of JSON Obj"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract data from requirement_df\nconst data = $json.request.requirement_df;\n\n// Table headers\nlet markdownTable = \"## Scoping Sheet\\n\\n\";\nmarkdownTable += \"| Category | Requirement | Status |\\n\";\nmarkdownTable += \"|----------|-------------|--------|\\n\";\n\n// Loop through each row and extract details\ndata.forEach(row => {\n    const category = row.category || \"NA\";\n    const requirement = row.requirement || \"NA\";\n\n    // Handle status formatting:\n    let status = \"NA\";\n    if (Array.isArray(row.status)) {\n        status = row.status.join(', ');\n    } else if (typeof row.status === 'string' || typeof row.status === 'number') {\n        status = row.status.toString().trim();\n    }\n\n    // Append row to Markdown table\n    markdownTable += `| ${category} | ${requirement} | ${status} |\\n`;\n});\n\n// Return formatted Markdown\nreturn { json: { scopingsheet_markdown: markdownTable } };\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        260
      ],
      "id": "0ed14a57-64d0-4ebf-95bd-971649262e8c",
      "name": "Formatting Markdown in JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87af8451-5340-45a3-83b4-d8dd672efcde",
              "name": "request.scopingsheet_markdown",
              "value": "={{ $('Formatting Markdown in JSON').item.json.scopingsheet_markdown }}",
              "type": "string"
            },
            {
              "id": "06178b62-2bbf-4a63-8755-ba544cd134a7",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        200
      ],
      "id": "de6f64cb-de15-4912-9ebd-65cbfd2613f1",
      "name": "Converting Obj to String"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "scope_db",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "client_id",
              "value": "={{ $('combining').item.json.id }}"
            },
            {
              "column": "email",
              "value": "={{ $('combining').item.json.email }}"
            },
            {
              "column": "scopingsheet_markdown",
              "value": "={{ $('combining').item.json.scopingsheet_markdown }}"
            },
            {
              "column": "project_id",
              "value": "={{ $('obtaining project id').item.json.project_id }}"
            },
            {
              "column": "scopingsheet_URL",
              "value": "={{ $('Edit Fields').item.json.final_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4480,
        -40
      ],
      "id": "f1087ede-5e3d-40ae-86c5-8e7af27c943c",
      "name": "Insert data into scope_db",
      "credentials": {
        "mySql": {
          "id": "W9CePzGpt5LA5SMf",
          "name": "MySQL account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5320,
        -20
      ],
      "id": "515c153d-ef00-44c5-b91b-d49b4d16fa7f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db9b3e6e-437b-446a-aa03-80f0d8b5d373",
              "name": "scopingsheet_markdown",
              "value": "={{ $json.request.scopingsheet_markdown }}",
              "type": "string"
            },
            {
              "id": "8e49c9a7-c9ed-4d00-aa67-071cf06faf47",
              "name": "id",
              "value": "={{ $('Setting of JSON Obj').item.json.request.id }}",
              "type": "string"
            },
            {
              "id": "65b05988-5ac7-49fd-962f-718c057f8684",
              "name": "email",
              "value": "={{ $('Setting of JSON Obj').item.json.request.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        180
      ],
      "id": "a68c0bc5-31bd-4470-bd83-67760530f0ac",
      "name": "combining"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2960,
        400
      ],
      "id": "8eca6bd3-4273-44f3-a7fb-a6acdf7765a6",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iYWKaQzBWhK30rPq",
          "mode": "list",
          "cachedResultName": "SOW Generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5120,
        -20
      ],
      "id": "85dcb0a9-d1f0-4f78-b3a5-c695ea163d26",
      "name": "Execute SOW Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab4320ab-ff4e-4d44-a8ef-b983b739d336",
              "name": "client_id",
              "value": "={{ $('combining').item.json.id }}",
              "type": "string"
            },
            {
              "id": "10df3fd4-3e95-415a-9c3d-cceb5fea7bc2",
              "name": "client_email",
              "value": "={{ $('combining').item.json.email }}",
              "type": "string"
            },
            {
              "id": "d1c423b0-1f20-4eed-a559-4f732dffdec0",
              "name": "project_id",
              "value": "={{ $('obtaining project id').item.json.project_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4780,
        0
      ],
      "id": "8f75d3f2-fbcf-48b2-8bcd-d4ea54949f80",
      "name": "Passing Key"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "stormyferntreeofficial@gmail.com",
        "toEmail": "={{ $('combining').item.json.email }} ",
        "subject": "Generated Scoping Sheet Approval",
        "message": "=Please view the generated scoping sheet through the link before approving or rejecting the document. The content is based on the responses provided in the chat.\nLink:  {{ $json.download_url }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "Reject"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 2,
              "resumeUnit": "days"
            }
          }
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2520,
        -40
      ],
      "id": "fd69f648-a84a-4d56-bc3c-fbd03b6544c1",
      "name": "Send Email to Client",
      "webhookId": "4e0f99db-90bd-418c-a4f9-2893d04ab103",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "stormyferntreeofficial@gmail.com",
        "toEmail": "=stormyferntreeofficial@gmail.com",
        "subject": "Generated Scoping Sheet",
        "html": "=markdown file attached",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2160,
        420
      ],
      "id": "b0369451-7eea-41d9-afca-94f5dbfb63b1",
      "name": "Send Email to Staff",
      "webhookId": "9e5d33d3-b455-44f8-94cf-6c1807341513"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "scopingsheet_markdown",
        "options": {
          "fileName": "markdown_sheet1.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1660,
        160
      ],
      "id": "1854ac9a-9c3e-482c-b75b-82f47a05a2a1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "project_details",
          "mode": "list",
          "cachedResultName": "project_details"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "application_name",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[0].status }}"
            },
            {
              "column": "production_url",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[1].status }}"
            },
            {
              "column": "testing_environment",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[2].status) }}"
            },
            {
              "column": "application_type",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[3].status) }}"
            },
            {
              "column": "authentication_method",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[4].status) }}"
            },
            {
              "column": "user_roles",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[5].status) }}"
            },
            {
              "column": "session_management",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[7].status) }}"
            },
            {
              "column": "session_timeout_period",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[8].status }}"
            },
            {
              "column": "total_num_input_fields",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[9].status }}"
            },
            {
              "column": "input_types_present",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[10].status) }}"
            },
            {
              "column": "sensitive_data_handled",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[11].status) }}"
            },
            {
              "column": "data_storage",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[12].status) }}"
            },
            {
              "column": "number_of_endpoints",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[13].status }}"
            },
            {
              "column": "authentication_required",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[14].status }}"
            },
            {
              "column": "rate_limiting",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[15].status }}"
            },
            {
              "column": "documentation_available",
              "value": "={{ $('Setting of JSON Obj').item.json.request.requirement_df[16].status }}"
            },
            {
              "column": "security_controls_present",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[18].status) }}"
            },
            {
              "column": "hosting",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[19].status) }}"
            },
            {
              "column": "critical_functions",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[20].status) }}"
            },
            {
              "column": "compliance_requirements",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[21].status) }}"
            },
            {
              "column": "previous_testing",
              "value": "={{ new Date($('Setting of JSON Obj').item.json.request.requirement_df[22].status).toISOString().split('T')[0] }}"
            },
            {
              "column": "time_restrictions",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[25].status) }}"
            },
            {
              "column": "testing_limitations",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[26].status) }}"
            },
            {
              "column": "required_reports",
              "value": "={{ JSON.stringify($('Setting of JSON Obj').item.json.request.requirement_df[27].status) }}"
            },
            {
              "column": "client_id",
              "value": "={{ $('Setting of JSON Obj').item.json.request.id }}"
            },
            {
              "column": "project_start_date",
              "value": "={{ $json.project_start_date ? $json.project_start_date : null }}"
            },
            {
              "column": "draft_report_due_date",
              "value": "={{ $json.draft_report_due_date ? $json.draft_report_due_date : null }}"
            },
            {
              "column": "final_report_due_date",
              "value": "={{ $json.final_report_due_date ? $json.final_report_due_date : null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        480,
        260
      ],
      "id": "2997bda1-833a-4b54-b4f3-f871f1a966d9",
      "name": "Insert into Project Details",
      "credentials": {
        "mySql": {
          "id": "W9CePzGpt5LA5SMf",
          "name": "MySQL account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT project_id FROM data.project_details\nWHERE client_id = {{ $('Setting of JSON Obj').item.json.request.id }}\nORDER BY created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        800,
        220
      ],
      "id": "b4af8899-a4df-4483-a984-768df0c8cf51",
      "name": "obtaining project id",
      "credentials": {
        "mySql": {
          "id": "W9CePzGpt5LA5SMf",
          "name": "MySQL account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('APITemplate.io1').item.json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3460,
        -60
      ],
      "id": "c9dcc51e-03d4-4ff2-b7f4-6fb140960226",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "=scope_{{ $('Setting of JSON Obj').item.json.request.email }}_v1.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1IGykjR_DP8trfvFj4tYtG48am6ZnCHgc",
          "mode": "list",
          "cachedResultName": "Scoping PDF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IGykjR_DP8trfvFj4tYtG48am6ZnCHgc"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3680,
        -60
      ],
      "id": "1f44e3a1-01fc-42e7-9da4-a9d5151d4f38",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3900,
        -60
      ],
      "id": "34d216be-3acd-4d68-9e45-1ed1c53d2901",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a8cbba5-9a65-4b3d-94ed-8ffe890a17d2",
              "name": "final_url",
              "value": "=https://drive.google.com/file/d/{{ $('Google Drive').item.json.id }}/view",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4120,
        -60
      ],
      "id": "9a30a44d-9661-4cce-a3c7-9078c983a838",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "29077b2398cd8cb6",
        "jsonParameters": true,
        "propertiesJson": "={{ $('Converting Obj to String').item.json.request }}"
      },
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        2120,
        80
      ],
      "id": "fd88ae85-b939-46a6-8801-ae5b42dfa3f1",
      "name": "APITemplate.io1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "scope_db",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "project_id",
              "value": "={{ $('obtaining project id').item.json.project_id }}"
            },
            {
              "column": "client_id",
              "value": "={{ $('combining').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4800,
        340
      ],
      "id": "012ccc56-bfdf-48c3-8839-7e03584c0c62",
      "name": "drop row in scope_db"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "project_details",
          "mode": "list",
          "cachedResultName": "project_details"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "project_id",
              "value": "={{ $('obtaining project id').item.json.project_id }}"
            },
            {
              "column": "client_id",
              "value": "={{ $('combining').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        5020,
        340
      ],
      "id": "4cefbd44-8abe-42db-ae7d-bb36363ca870",
      "name": "MySQL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/project-action-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\":  {{ $json.project_id}},\n  \"action_type\": \"SCOPING_SHEET_SUBMISSION\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -240
      ],
      "id": "4583d3c2-cb9c-4b62-a062-4550f9a33b92",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/project-action-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\":  6,\n  \"action_type\": \"SCOPING_SHEET_APPROVAL\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        -320
      ],
      "id": "887cf99c-0492-476d-9e48-b135990b872d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/project-action-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\":  6,\n  \"action_type\": \"SOW_GENERATED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5300,
        -340
      ],
      "id": "b684dea6-357e-4aee-83bc-9c3048f4c616",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/project-action-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\":  6,\n  \"action_type\": \"SOW_DRAFTING_TRIGGERED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        -400
      ],
      "id": "4c7339b4-c15a-4e27-af88-d345529900b2",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/project-action-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\":  6,\n  \"action_type\": \"SCOPING_SHEET_REJECTED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        220
      ],
      "id": "b03cfb61-1220-49df-8dcf-10e189f4cc5a",
      "name": "HTTP Request7"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Setting of JSON Obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "drop row in scope_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting of JSON Obj": {
      "main": [
        [
          {
            "node": "Formatting Markdown in JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting Markdown in JSON": {
      "main": [
        [
          {
            "node": "Insert into Project Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converting Obj to String": {
      "main": [
        [
          {
            "node": "combining",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert data into scope_db": {
      "main": [
        [
          {
            "node": "Passing Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combining": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SOW Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passing Key": {
      "main": [
        [
          {
            "node": "Execute SOW Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Client": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Staff": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send Email to Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "APITemplate.io1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Project Details": {
      "main": [
        [
          {
            "node": "obtaining project id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtaining project id": {
      "main": [
        [
          {
            "node": "Converting Obj to String",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert data into scope_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APITemplate.io1": {
      "main": [
        [
          {
            "node": "Send Email to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "drop row in scope_db": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a60e92cf-6477-498f-8691-8a08ffae5897",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36dde0839d5214a73a536a62fa90c77cce7d6a5ab100894df6447c122fc2b270"
  },
  "id": "AALG0j4lnIkcVakK",
  "tags": []
}