internal-staff-app/n8n_automations/SOW_Generation (2).json
{
  "name": "SOW Generation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        0
      ],
      "id": "bba01ab3-4cb5-4430-8b19-ccdba135868c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d21786d-2a23-4dd2-b385-dea88189b84d",
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.client_id }}",
              "type": "string"
            },
            {
              "id": "b157350f-86ee-49a2-ba9b-e8a9c558cf59",
              "name": "client_email",
              "value": "={{ $('When Executed by Another Workflow').item.json.client_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "22bfb1b3-c8a9-4ad3-bc29-0dea01415cfc",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        -200
      ],
      "id": "24277eac-2272-432b-abc1-e8f03c620a98",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fromEmail": "stormyferntreeofficial@gmail.com",
        "toEmail": "stormyferntreeofficial@gmail.com",
        "subject": "output",
        "html": "=client email: {{ $('Edit Fields').item.json.client_email }}\nclient id: {{ $('Edit Fields').item.json.client_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        380,
        0
      ],
      "id": "8a8a8a81-59b5-4422-bc92-50fc86ca9c85",
      "name": "Send Email",
      "webhookId": "b60843cb-a06a-44de-8a32-f4167b033d91",
      "credentials": {
        "smtp": {
          "id": "E6qJoQyuVDVdeRx1",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea22f16c-89a1-47a9-a1ef-1bcfc8eaa3f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8712c2bb4e02902a13a43c75c2acacd2aabdb06be443b7b14c332bd919069ab1"
  },
  "id": "iYWKaQzBWhK30rPq",
  "tags": []
}